*{
	font-family: oswald;
	color: black;
}
a:link{
	text-decoration: none;
}
.navbar{
	position: relative;
	z-index: 1
}
.navlog{
	background: #37474f ;
	border-radius: 55%;
	padding: 3px 13px;
	font-size: 20px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-family: 'amaranth';
	font-weight: bold;
}
.bran{
	font-size: 32px;
	font-family: 'amaranth';
	display: inline-block;
	vertical-align: middle;
}
hr {  
    height: 8px; 
    background: black;
} 
.text2{
	font-size: 24px;
	font-weight: bold;
}
.link, .link2, .link3{
	display: block;
	font-size: 20px;
	color: black;
	transition: .25s;
	font-weight: bold;
}
.link:hover{
	color: #1e88e5;
}
.link2:hover{
	color: #ab47bc;
}
.link3:hover{
	color: #c62828;
}
.fab{
	display: block;
	font-size: 30px;
}
.text3{
	font-size: 18px;
	font-weight: 600;
}
.Right{
	background: black;
	width: 100%;
	height: 60px;
	color: white;
	text-align: center;
	padding: 20px 0px;
}
.btn-block{
	color: black;
	font-size: 25px;
}
.btn-block:hover{
	color: black;
}
.m1{
	height: 120px;
	padding-top: 35px;
	background: white;
}
@media (min-width: 992px){
	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;
		font-weight: 600;
		transition: .25s;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.nav-link:hover{
		background: #01579b;
		border-radius: 5px;
	}
}