*{
	font-family: oswald;
	color: black;
}
a:link{
	text-decoration: none;
}
.navbar{
	position: relative;
	z-index: 1
}
.navlog{
	background: #37474f ;
	border-radius: 55%;
	padding: 3px 13px;
	font-size: 20px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-family: 'amaranth';
	font-weight: bold;
}
.bran{
	font-size: 32px;
	font-family: 'amaranth';
	display: inline-block;
	vertical-align: middle;
}
.jumbotron{
	background-image: url(../img/kk4b.png);
	background-size: cover;
	height: 600px;
	text-align: center;
	position: relative;
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 60%;
	background-image: linear-gradient(to top, rgba(256,256,256,1.1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}
.jumbotron .display-4{
	color: white;
	margin-top: 150px;
	font-size: 40px;
}
.bolded{
	font-weight:  bold;
	color: #01579b;
}
.paragraf1{
	font-size: 22px;
	font-weight: 700;
	margin: 67px 103px;
}
.makanan{
	width: 100%;
	background-size: cover;
	height: 6%;
}
hr {  
    height: 8px; 
    background: black;
} 
.text2{
	font-size: 24px;
	font-weight: bold;
}
.link, .link2, .link3{
	display: block;
	font-size: 20px;
	color: black;
	transition: .25s;
	font-weight: bold;
}
.link:hover{
	color: #1e88e5;
}
.link2:hover{
	color: #ab47bc;
}
.link3:hover{
	color: #c62828;
}
.fab{
	display: block;
	font-size: 30px;
}
.text3{
	font-size: 18px;
	font-weight: 600;
}
.Right{
	background: black;
	width: 100%;
	height: 60px;
	color: white;
	text-align: center;
	padding: 20px 0px;
}
@media (min-width: 992px){
	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;
		font-weight: 600;
		transition: .25s;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.nav-link:hover{
		background: #01579b;
		border-radius: 5px;
	}
	.jumbotron{
		margin-top: -75px;
		height: 760px;
	}
	.jumbotron .display-4{
		font-size: 62px;
	}
	.paragraf1{
		font-size: 30px;
		font-weight: 700;
		margin: 100px 155px;
	}
	.makanan{
		height:9%;
	}
}